# Dependencies
node_modules/
package-lock.json
yarn.lock

# Environment variables
.env
.env.local
.env.production

# Build files
dist/
build/
*.js.map

# Logs
logs/
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Database
*.sqlite
*.db

# Backend
server/node_modules/
server/package-lock.json

# Frontend
client/node_modules/
client/package-lock.json
client/dist/